arborize @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=libs/arborize
nrn-patch @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=libs/nrn-patch
nmodl-glia @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=libs/nmodl-glia 
bsb-core[parallel] @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=packages/bsb-core
bsb-hdf5 @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=packages/bsb-hdf5
bsb-json @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=packages/bsb-json 
bsb-yaml @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=packages/bsb-yaml
bsb-otel @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=packages/bsb-otel
bsb-nest @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=packages/bsb-nest
bsb-neuron @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=packages/bsb-neuron
bsb-native @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=packages/bsb-native
bsb @ git+https://github.com/dbbs-lab/bsb.git@next#subdirectory=packages/bsb
cerebellar-models[nest] @ git+https://github.com/dbbs-lab/cerebellar-models.git@feature/bsb8
efel